# Auto detect text files and perform LF normalization
* text=auto
# Include .adoc, .md, and .yml in repo language stats
*.adoc linguist-detectable
*.md linguist-detectable
*.yml linguist-detectable
# Exclude generated HTML from repo language stats
*.html linguist-generated
# Exclude vendored code from repo language stats
wap-doc-test-build/stylesheets/asciidoctor-default.css linguist-vendored